* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.viewInput {
  display: flex;
  justify-content: center;
  height: 8vh;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.viewInput #inputNumber {
  height: 6vh;
  width: 60%;
  font-size: 60px;
}

.viewInput #inputNumber:focus {
  outline: none;
  border: 2px solid;
  box-shadow: 0 0 10px #000;
}

#numbers {
  width: 100%;
  text-align: center;
}

#numbers button {
  width: 40px;
  height: 40px;
  font-size: 24px;
}

#optBtn {
  margin-top: 10px;
  text-align: center;
}

#calculateBtn,
#clearBtn {
  width: 40px;
  height: 40px;
  font-size: 24px;
}

.container-main {
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid black;
  padding: 16px;
  text-align: center;
  font-size: 22px;
}
